<div class='main-container'>
    <h1>Sample To do list</h1>
    <div class='form-container'>
        <app-task-form></app-task-form>
    </div>

    <div class="tasks-container">
        <div class='filter-container'>
            <mat-form-field appearance="outline">
                <mat-label>Filter</mat-label>
                <input [(ngModel)]="currentFilter" matInput placeholder="Filter to do">
            </mat-form-field>
            <button mat-button color="basic" (click)="updateFilter()"><mat-icon>search</mat-icon></button>
        </div>
        <app-task-item *ngFor="let task of tasks$ | async" 
            [task]="task"
            (editTask)="editTask($event)"
            (deleteTask)="deleteTask($event)"
            (updateTaskStatus)="uppdateTaskStatus($event)"></app-task-item>
    </div>
</div>
